.button-with-loader {
  font-family: "Courier New", Courier, monospace;
  height: 34px;
  width: 134px;
  background-color: rgb(94, 22, 211);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
