.image-container {
  position: relative;
  height: 490px;
  width: 300px;
  background-color: rgba(24, 27, 31, 1);
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.32);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-container button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 490px;
  width: 300px;
  opacity: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}
.image-container button span {
  font-size: 21px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 8px 18px;
  border-radius: 12px;
  opacity: 0;
  transition:
    background 0.3s,
    opacity 0.3s;
}

.image-container button:hover span {
  opacity: 1;
}
.image-container button:hover {
  opacity: 1;
}
.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.image-modal-content {
  padding: 20px;
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-modal-content img {
  position: relative;
  max-width: 90vw;
  max-height: 80vh;
  width: auto;
  height: auto;
  display: block;
}
.image-modal button {
  position: absolute;
  top: 2%;
  right: 3%;
  margin-top: 16px;
  padding: 8px 24px;
  background: #ff2e6e;
  color: #fff;
  border: none;
  cursor: pointer;
}
.image-skeleton {
  position: relative;
  height: 490px;
  width: 300px;
  background: #eee;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.32);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.image-skeleton-loading-bars {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: row;
  gap: 12px;
  transform: translate(-50%, -50%);
}
.image-skeleton-loading-bar {
  background-color: #ff2e6e;
  height: 32px;
  width: 32px;
  border-radius: 100%;
  animation: balls-up-down 1.2s infinite;
}

.image-skeleton-loading-bar:nth-child(2) {
  animation-delay: 0.2s;
  animation-name: balls-down-up;
}
.image-skeleton-loading-bar:nth-child(3) {
  animation-delay: 0.4s;
  animation-name: balls-up-down;
}

@keyframes balls-up-down {
  0%,
  100% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-18px);
  }
}
@keyframes balls-down-up {
  0%,
  100% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.5;
    transform: translateY(18px);
  }
}
